{% extends 'user_center_base.html' %}
{% load staticfiles %}
{% block right_content %}
		<div class="right_content clearfix">
				<h3 class="common_title2">全部订单</h3>
			{% for order in page %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.create_time }}</li>
					<li class="col02">订单号：{{ order.order_id  }}</li>
					<li class="col02 stress">{{ order.status_name }}</li>
				</ul>
				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
								{% for good in order.goods %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="{{ good.sku.image.url }}"></li>
									<li class="col02">{{ good.sku.name }}<em>{{ good.price }}元/{{ good.sku.unite }}</em></li>
									<li class="col03">{{ good.count }}</li>
									<li class="col04">{{ good.sum }}元</li>
								</ul>
								{% endfor %}
							</td>
							<td width="15%">{{ order.total_price }}元</td>
							<td width="15%">{{ order.status_name }}</td>
							<td width="15%"><a href="#" class="oper_btn">去付款</a></td>
						</tr>
					</tbody>
				</table>
			{% empty %}
			<h3>暂无订单</h3>
			{% endfor %}

				<div class="pagenation">
					{% if page.has_previous %}
					<a href="{% url 'users:user_center_order' page.previous_page_number %}"><上一页</a>
					{% else %}
					<a href="javascript:void(0)"><上一页</a>
					{% endif %}
					{% for page_index in page.paginator.page_range %}
					{% if page.number == page_index %}
					<a href="{% url 'users:user_center_order' page_index %}" class="active">{{ page_index }}</a>
					{% else %}
					<a href="{% url 'users:user_center_order' page_index %}">{{ page_index }}</a>
					{% endif %}
					{% endfor %}
					{% if page.has_next %}
					<a href="{% url 'users:user_center_order' page.next_page_number %}">下一页></a>
					{% else %}
					<a href="javascript:void(0)" >下一页</a>
					{% endif %}
				</div>
		</div>
{% endblock right_content %}
